.breadcrumbs
{
  display: block;
  padding: 0.5625rem 0 0.5625rem 0;
  overflow: hidden;
  margin-top: 55px;
  list-style: none;
  border-bottom: solid 1px #E4E4E4;
  width: 100%;
}

.breadcrumbs>*
{
  margin: 0;
  float: left;
  font-size: 0.6875rem;
  line-height: 0.6875rem;
  text-transform: uppercase;
  color: #334D5C;
}
.breadcrumbs>*:before
{
  content: "/";
  color: #aaa;
  margin: 0 0.75rem;
  position: relative;
  top: 1px;
}
.breadcrumbs>.current {
  font-weight: bold;
}
.breadcrumbs>*.current {
  cursor: default;
  color: #333;
}
.breadcrumbs>* a {
  color: #1a6bc7;
  text-decoration:none;
}
