div#video-slider{
  width:260px;
  float:right;
}

div.slide{
  position:relative;
  padding:0px 0px;
}

img.thumbnail {
  width:100%;
  margin:0 auto;
}

img.play{
  position:absolute;
  width:40px;
  left:110px;
  top:60px;
}

div.title{
  layout:block;
  bottom:0px;
  left:0px;
  width:100%;
  line-height:20px;
  color:#000;
  opacity:.4;
  text-align:center;
  font-size:12px;
  background-color:#fff;
}