sandbox/**/target
sandbox/plan-parser/basic-interpreter/.idea/*
sandbox/plan-parser/.idea/.name
sandbox/plan-parser/.idea/compiler.xml
sandbox/plan-parser/.idea/copyright/profiles_settings.xml
sandbox/plan-parser/.idea/encodings.xml
sandbox/plan-parser/.idea/libraries/Maven__antlr_antlr_2_7_7.xml
sandbox/plan-parser/.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
sandbox/plan-parser/.idea/libraries/Maven__com_google_guava_guava_10_0_1.xml
sandbox/plan-parser/.idea/libraries/Maven__junit_junit_4_8_2.xml
sandbox/plan-parser/.idea/libraries/Maven__org_antlr_ST4_4_0_4.xml
sandbox/plan-parser/.idea/libraries/Maven__org_antlr_antlr_3_4.xml
sandbox/plan-parser/.idea/libraries/Maven__org_antlr_antlr_runtime_3_4.xml
sandbox/plan-parser/.idea/libraries/Maven__org_antlr_stringtemplate_3_2_1.xml
sandbox/plan-parser/.idea/misc.xml
sandbox/plan-parser/.idea/modules.xml
sandbox/plan-parser/.idea/scopes/scope_settings.xml
sandbox/plan-parser/.idea/uiDesigner.xml
sandbox/plan-parser/.idea/vcs.xml
sandbox/plan-parser/.idea/workspace.xml
sandbox/plan-parser/basic-interpreter.iml
