---
layout: page
title: Download
---
<link href="{{ site.baseurl }}/css/download.css" rel="stylesheet" type="text/css">
<p>Drill {{ site.data.version.display_version }} was released on {{ site.data.version.release_date }}.</p>

<div id="download_bar">
<div class="table">
<ul id="download_buttons">
<li><a href="http://www.apache.org/dyn/closer.cgi/drill/drill-{{ site.data.version.full_version }}/apache-drill-{{ site.data.version.full_version }}.tar.gz" class="find" id="apachemirror">Find an Apache Mirror</a></li>
<li><a href="http://www.apache.org/dyn/closer.lua?filename=drill/drill-{{ site.data.version.full_version }}/apache-drill-{{ site.data.version.full_version }}.tar.gz&action=download" class="dl" id="directdownload">Direct File Download</a></li>
<li><a href="{{ site.baseurl }}/docs/interfaces-introduction/" class="dl">Client Drivers (ODBC/JDBC)</a></li>
</ul>
</div>
</div>

<p>Additional resources for Drill {{ site.data.version.display_version }}:</p>
<ul>
{% if site.data.version.blog_post %}<li><a href="{{ site.baseurl }}{{ site.data.version.blog_post }}">Blog post</a></li>{% endif %}
{% if site.data.version.release_notes %}<li><a href="{{ site.data.version.release_notes }}">Release notes (JIRA)</a></li>{% endif %}
<li><a href="https://github.com/apache/drill/tree/{{ site.data.version.full_version }}">Source code</a></li>
</ul>

<table border="1" cellspacing="1" cellpadding="5" width="50%">
 <thead style="font-weight:bold"><tr style="text-align:center"><td>Version</td><td>Date</td><td>Release Notes</td><td>Download</td></tr></thead>
  <tbody>
    <tr style="text-align:center"><td>1.13.0</td><td style="text-align:right">18 March, 2018</td><td ><a href="https://drill.apache.org/docs/apache-drill-1-13-0-release-notes/">Apache Drill 1.13.0 Release Notes</a></td><td><a href="http://archive.apache.org/dist/drill/drill-1.13.0/">Download 1.13.0</a></td></tr>
    <tr style="text-align:center"><td>1.12.0</td><td style="text-align:right">15 December, 2017</td><td ><a href="https://drill.apache.org/docs/apache-drill-1-12-0-release-notes/">Apache Drill 1.12.0 Release Notes</a></td><td><a href="http://archive.apache.org/dist/drill/drill-1.12.0/">Download 1.12.0</a></td></tr>
    <tr style="text-align:center"><td>1.11.0</td><td style="text-align:right">July 31, 2017</td><td ><a href="https://drill.apache.org/docs/apache-drill-1-11-0-release-notes/">Apache Drill 1.11.0 Release Notes</a></td><td><a href="http://archive.apache.org/dist/drill/drill-1.11.0/">Download 1.11.0</a></td></tr>
    <tr style="text-align:center"><td>1.10.0</td><td style="text-align:right">15 March, 2017</td><td ><a href="https://drill.apache.org/docs/apache-drill-1-10-0-release-notes/">Apache Drill 1.10.0 Release Notes</a></td><td><a href="http://archive.apache.org/dist/drill/drill-1.10.0/">Download 1.10.0</a></td></tr>
    <tr style="text-align:center"><td>1.9.0</td><td style="text-align:right">29 November, 2016</td><td ><a href="https://drill.apache.org/docs/apache-drill-1-9-0-release-notes/">Apache Drill 1.9.0 Release Notes</a></td><td><a href="http://archive.apache.org/dist/drill/drill-1.9.0/">Download 1.9.0</a></td></tr>
    <tr style="text-align:center"><td>1.8.0</td><td style="text-align:right">30 August, 2016</td><td ><a href="https://drill.apache.org/docs/apache-drill-1-8-0-release-notes/">Apache Drill 1.8.0 Release Notes</a></td><td><a href="http://archive.apache.org/dist/drill/drill-1.8.0/">Download 1.8.0</a></td></tr>
    <tr style="text-align:center"><td>1.7.0</td><td style="text-align:right">June 28, 2016</td><td ><a href="https://drill.apache.org/docs/apache-drill-1-7-0-release-notes/">Apache Drill 1.7.0 Release Notes</a></td><td><a href="http://archive.apache.org/dist/drill/drill-1.7.0/">Download 1.7.0</a></td></tr>
    <tr style="text-align:center"><td>1.6.0</td><td style="text-align:right">16 March, 2016</td><td ><a href="https://drill.apache.org/docs/apache-drill-1-6-0-release-notes/">Apache Drill 1.6.0 Release Notes</a></td><td><a href="http://archive.apache.org/dist/drill/drill-1.6.0/">Download 1.6.0</a></td></tr>
    <tr style="text-align:center"><td>1.5.0</td><td style="text-align:right">16 February, 2016</td><td ><a href="https://drill.apache.org/docs/apache-drill-1-5-0-release-notes/">Apache Drill 1.5.0 Release Notes</a></td><td><a href="http://archive.apache.org/dist/drill/drill-1.5.0/">Download 1.5.0</a></td></tr>
    <tr style="text-align:center"><td>1.4.0</td><td style="text-align:right">14 December, 2015</td><td ><a href="https://drill.apache.org/docs/apache-drill-1-4-0-release-notes/">Apache Drill 1.4.0 Release Notes</a></td><td><a href="http://archive.apache.org/dist/drill/drill-1.4.0/">Download 1.4.0</a></td></tr>
    <tr style="text-align:center"><td>1.3.0</td><td style="text-align:right">November 22, 2015</td><td ><a href="https://drill.apache.org/docs/apache-drill-1-3-0-release-notes/">Apache Drill 1.3.0 Release Notes</a></td><td><a href="http://archive.apache.org/dist/drill/drill-1.3.0/">Download 1.3.0</a></td></tr>
    <tr style="text-align:center"><td>1.2.0</td><td style="text-align:right">16 October, 2015</td><td ><a href="https://drill.apache.org/docs/apache-drill-1-2-0-release-notes/">Apache Drill 1.2.0 Release Notes</a></td><td><a href="http://archive.apache.org/dist/drill/drill-1.2.0/">Download 1.2.0</a></td></tr>
    <tr style="text-align:center"><td>1.1.0</td><td style="text-align:right">05 July, 2015</td><td ><a href="https://drill.apache.org/docs/apache-drill-1-1-0-release-notes/">Apache Drill 1.1.0 Release Notes</a></td><td><a href="http://archive.apache.org/dist/drill/drill-1.1.0/">Download 1.1.0</a></td></tr>
    <tr style="text-align:center"><td>1.0.0</td><td style="text-align:right">19 May, 2015</td><td ><a href="https://drill.apache.org/docs/apache-drill-1-0-0-release-notes/">Apache Drill 1.0.0 Release Notes</a></td><td><a href="http://archive.apache.org/dist/drill/drill-1.0.0/">Download 1.0.0</a></td></tr>
    <tr style="text-align:center"><td>0.9.0</td><td style="text-align:right">03 May, 2015</td><td ><a href="https://drill.apache.org/docs/apache-drill-0-9-0-release-notes/">Apache Drill 0.9.0 Release Notes</a></td><td><a href="http://archive.apache.org/dist/drill/drill-0.9.0/">Download 0.9.0</a></td></tr>
    <tr style="text-align:center"><td>0.8.0</td><td style="text-align:right">25 March, 2015</td><td ><a href="https://drill.apache.org/docs/apache-drill-0-8-0-release-notes/">Apache Drill 0.8.0 Release Notes</a></td><td><a href="http://archive.apache.org/dist/drill/drill-0.8.0/">Download 0.8.0</a></td></tr>
    <tr style="text-align:center"><td>0.7.0</td><td style="text-align:right">16 December, 2014</td><td ><a href="https://drill.apache.org/docs/apache-drill-0-7-0-release-notes/">Apache Drill 0.7.0 Release Notes</a></td><td><a href="http://archive.apache.org/dist/drill/drill-0.7.0/">Download 0.7.0</a></td></tr>
    <tr style="text-align:center"><td>0.6.0</td><td style="text-align:right">01 October, 2014</td><td ><a href="https://drill.apache.org/docs/apache-drill-0-6-0-release-notes/">Apache Drill 0.6.0 Release Notes</a></td><td><a href="http://archive.apache.org/dist/drill/drill-0.6.0-incubating/">Download 0.6.0</a></td></tr>
    <tr style="text-align:center"><td>0.5.0</td><td style="text-align:right">12 September, 2014</td><td ><a href="https://drill.apache.org/docs/apache-drill-0-5-0-release-notes/">Apache Drill 0.5.0 Release Notes</a></td><td><a href="http://archive.apache.org/dist/drill/drill-0.5.0-incubating/">Download 0.5.0</a></td></tr>
    <tr style="text-align:center"><td>0.4.0</td><td style="text-align:right">31 July, 2014</td><td ><a href="https://drill.apache.org/docs/apache-drill-0-4-0-release-notes/">Apache Drill 0.4.0 Release Notes</a></td><td><a href="http://archive.apache.org/dist/drill/drill-0.4.0-incubating/">Download 0.4.0</a></td></tr>
  </tbody>
</table>


<script type="text/javascript">
$('#directdownload').click(function(event) {
  ga('send', 'event', 'Downloads', 'Direct', 'Direct Download');
});
$('#apachemirror').click(function(event) {
  event.preventDefault();
  var link = $(this);
  ga('send', 'event', 'Downloads', 'Link', 'Apache Mirrors', {
    'hitCallback': function () {
      document.location = link.attr('href');
    }
  });
});
</script>
