---
layout: default
---
<link href="{{ site.baseurl }}/static/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css">
<link href="{{ site.baseurl }}/css/video-slider.css" rel="stylesheet" type="text/css">
<script language="javascript" type="text/javascript" src="{{ site.baseurl }}/static/fancybox/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick-theme.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js"></script>

<script type="text/javascript">

$(document).ready(function() {
  $(".various").fancybox({
    fitToView: true,
    autoSize: true,
    beforeLoad: function(){
      var url= $(this.element).attr("href");
      url = url.replace(new RegExp("watch\\?v=", "i"), 'v/');
      url += '?fs=1&autoplay=1';
      this.href = url
    }
  });
  
  $('div#video-slider').slick({
    autoplay: true,
    autoplaySpeed: 5000,
    dots: true
  });
});

</script>

<div id="header" class="mw">

<div class="nav-circlepop">
  <a class="aLeft prev"><span class="icon-wrap"></span></a>
  <a class="aRight next"><span class="icon-wrap"></span></a>
</div>

<div class="dots"></div>
<div class="scroller">
  <div class="item">
    <div class="headlines tc">
      <div id="video-slider" class="slider">
        <div class="slide"><a class="various fancybox.iframe" href="//www.youtube.com/watch?v=65c42i7Xg7Q"><img src="{{ site.baseurl }}/images/thumbnail-65c42i7Xg7Q.jpg" class="thumbnail" /><img src="{{ site.baseurl }}/images/play-mq.png" class="play" /></a><div class="title">The Rise of the Non-Relational Datastore</div></div>
        <div class="slide"><a class="various fancybox.iframe" href="//www.youtube.com/watch?v=MYY51kiFPTk"><img src="{{ site.baseurl }}/images/thumbnail-MYY51kiFPTk.jpg" class="thumbnail" /><img src="{{ site.baseurl }}/images/play-mq.png" class="play" /></a><div class="title">Deployment Options and BI Tools</div></div>
        <div class="slide"><a class="various fancybox.iframe" href="//www.youtube.com/watch?v=bhmNbH2yzhM"><img src="{{ site.baseurl }}/images/thumbnail-bhmNbH2yzhM.jpg" class="thumbnail" /><img src="{{ site.baseurl }}/images/play-mq.png" class="play" /></a><div class="title">Connecting to Data Sources</div></div>
        <div class="slide"><a class="various fancybox.iframe" href="//www.youtube.com/watch?v=6pGeQOXDdD8"><img src="{{ site.baseurl }}/images/thumbnail-6pGeQOXDdD8.jpg" class="thumbnail" /><img src="{{ site.baseurl }}/images/play-mq.png" class="play" /></a><div class="title">High Performance with a JSON Data Model</div></div>
      </div>
      <h1 class="main-headline">Apache Drill</h1>
      <h2 id="sub-headline">Schema-free SQL Query Engine <br class="mobile-break" /> for Hadoop, NoSQL and Cloud Storage</h2>
      <a href="{{ site.baseurl }}/download/" class="download-headline btn btn-1 btn-1c"><span>DOWNLOAD NOW</span></a>
    </div>
  </div>
</div>

</div><!-- header -->
<div class="alertbar">
  <div class="news">News:</div>{% assign post = site.categories.blog[0] %}<div><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br/><span>({% include authors.html %})</span></div>{% assign post = site.categories.blog[1] %}<div><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br/><span>({% include authors.html %})</span></div>
</div>

<div class="mw introWrapper">
  <table class="intro" cellpadding="0" cellspacing="0" align="center">
    <tbody>
      <tr>
        <td class="ag">
          <h1>Agility</h1>
          <p>Get faster insights without the overhead (data loading, schema creation and maintenance, transformations, etc.)</p>
          <span><a href="#agility">LEARN MORE</a></span>
        </td>
        <td class="fl">
          <h1>Flexibility</h1>
          <p>Analyze the multi-structured and nested data in non-relational datatastores directly without transforming or restricting the data</p>
          <span><a href="#flexibility">LEARN MORE</a></span>
        </td>
        <td class="fam">
          <h1>Familiarity</h1>
          <p>Leverage your existing SQL skillsets and BI tools including Tableau, Qlikview, MicroStrategy, Spotfire, Excel and more</p>
          <span><a href="#familiarity">LEARN MORE</a></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="home_txt mw">
  <p>The 40-year monopoly of the relational database is over. The explosion of data in recent years and the shift towards rapid application development have led to the rise of non-relational datastores including Hadoop, NoSQL and cloud storage. Organizations are increasingly leveraging these systems for new and existing applications due to their flexibility, scalability and price advantages. Drill is built from the ground up to enable business users, analysts, data scientists and developers to explore and analyze the data in these systems while maintaining their unique agility and flexibility advantages.</p>

  <a name="agility" class="anchor"></a>
  <h1>Agility</h1>
  <img src="images/home-img1.jpg" alt="Agility" width="606" />

  <p>Drill is unlike any other query engine. Traditional query engines demand significant IT intervention before data can be queried. Drill gets rid of all that overhead so that users can just query the raw data in-situ at record speeds. There's no need to load the data, create and maintain schemas, or transform the data before it can be processed. For example, the user can directly query Hadoop directories, MongoDB collections, S3 buckets and more. Drill leverages advanced query compilation and re-compilation techniques to maximize performance without requiring up-front schema knowledge.</p>
  
  <a name="flexibility" class="anchor"></a>
  <h1>Flexibility</h1>
  <img src="images/home-img2.jpg" alt="Agility" width="635" />

  <p>Drill features a JSON data model that allows it to query, without flattening, both simple and complex/nested data as well as rapidly evolving structures commonly seen with modern applications and non-relational datastores. Drill also provides intuitive extensions to SQL to work with complex/nested data. Drill achieves high performance via an in-memory shredded columnar representation for complex data. In fact, Drill is the only columnar query engine that supports complex data.</p>
  <a name="familiarity" class="anchor"></a>
  <h1>Familiarity</h1>
  <img src="images/home-img3.jpg" alt="familiarity" width="380" />
  <p>Drill supports standard SQL. Business users, analysts and data scientists can use standard BI/analytics tools such as Tableau, QlikView, MicroStrategy, Spotfire, SAS and Excel to interact with non-relational datastores by leveraging Drill's JDBC and ODBC drivers. Developers can leverage Drill's simple REST API in their custom applications to create beautiful visualizations based on data in their non-relational datastores. Users can also plug-and-play with Hive environments to enable ad-hoc low latency queries on existing Hive tables and reuse Hive's metadata, hundreds of file formats and UDFs out of the box.</p>
</div>
