<?xml version="1.0" encoding="UTF-8" ?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
 contributor license agreements.  See the NOTICE file distributed with
 this work for additional information regarding copyright ownership.
 The ASF licenses this file to You under the Apache License, Version 2.0
 (the "License"); you may not use this file except in compliance with
 the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<configuration>

  <appender name="SOCKET" class="de.huxhorn.lilith.logback.appender.ClassicMultiplexSocketAppender">
    <Compressing>true</Compressing>
    <ReconnectionDelay>10000</ReconnectionDelay>
    <IncludeCallerData>true</IncludeCallerData>
    <RemoteHosts>${LILITH_HOSTNAME:-localhost}</RemoteHosts>
  </appender>

 <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
    </encoder>
    <level value="trace" />
  </appender>

  <logger name="org" additivity="false">
    <level value="trace" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.hadoop" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>


  <logger name="org.apache.drill" additivity="false">
    <level value="trace" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>
<!--
  <logger name="org.apache.drill.common" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>
-->
  <logger name="org.apache.drill.common.JSONOptions" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.common.config" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.common.logical" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.common.util.PathScanner" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>
<!--
  <logger name="org.apache.drill.exec.client" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.exec.compile" additivity="false">
    <level value="debug" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>
-->
  <logger name="org.apache.drill.exec.compile.MergeAdapter" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>
<!--
  <logger name="org.apache.drill.exec.compile.bytecode" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>
-->
  <logger name="org.apache.drill.exec.compile.bytecode.DrillJavaFileManager" additivity="false">
    <level value="debug" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.exec.compile.bytecode.ScalarReplacementNode" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.exec.coord" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>
<!--
  <logger name="org.apache.drill.exec.expr" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>
-->

  <logger name="org.apache.drill.exec.expr.fn" additivity="false">
    <level value="debug" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.exec.expr.fn.FunctionConverter" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.exec.memory" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

<!--
  <logger name="org.apache.drill.exec.local" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>
-->
  <logger name="org.apache.drill.exec.ops" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>
<!--
  <logger name="org.apache.drill.exec.physical" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>
-->
  <logger name="org.apache.drill.exec.physical.impl" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.exec.physical.impl.ScreenCreator" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>
<!--
  <logger name="org.apache.drill.exec.planner" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.exec.planner.logical" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>
-->
  <logger name="org.apache.drill.exec.planner.logical.DrillOptiq" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.exec.planner.sql" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.exec.rpc" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.exec.rpc.control" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.exec.rpc.control.ControlServer" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.exec.rpc.user" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

<!--
  <logger name="org.apache.drill.exec.store" additivity="false">
    <level value="trace" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>
-->
  <logger name="org.apache.drill.exec.store.StoragePluginRegistry" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>
<!--
  <logger name="org.apache.drill.exec.store.dfs" additivity="false">
    <level value="trace" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>
-->
  <logger name="org.apache.drill.exec.store.dfs.WorkspaceSchemaFactory" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>
<!--


  <logger name="org.apache.drill.exec.store.hive.dfs.WorkspaceSchemaFactor" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.exec.store.hive.schema.DrillHiveTable" additivity="false">
    <level value="error" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.exec.store.ischema" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>
-->
  <logger name="org.apache.drill.exec.store.schedule" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.exec.server" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.exec.util" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

<!--
  <logger name="org.apache.drill.exec.test" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.exec.work" additivity="false">
    <level value="warn" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>
-->
  <logger name="org.apache.drill.exec.work.batch" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.exec.work.foreman" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.exec.work.foreman.Foreman" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.exec.work.foreman.QueryManager" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.drill.exec.work.fragment" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>
<!--
  <logger name="org.apache.drill.jdbc" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>
-->
  <logger name="org.apache.drill.jdbc.DrillStatementRegistry" additivity="false">
    <level value="info" />
    <appender-ref ref="SOCKET" />
    <appender-ref ref="STDOUT" />
  </logger>

  <root>
    <level value="trace" />
    <appender-ref ref="SOCKET" />
<!--     <appender-ref ref="STDOUT" /> -->
  </root>

</configuration>

