<div class="doc-nav">
  {% comment %}The variable already exists through the breadcrumb include: 
  {% assign page_data = site.data.docs[site.active_lang].by_title[page.title] %}{%endcomment %}
  <span class="previous-toc">{% if page_data.previous_url != '' %}<a href="{{ site.baseurl }}{{ page_data.previous_url }}">← {{ page_data.previous_title }}</a>{% endif %}</span><span class="next-toc">{% if page_data.next_url != '' %}<a href="{{ site.baseurl }}{{ page_data.next_url }}">{{ page_data.next_title }} →</a>{% endif %}</span>
</div>
