<head>

<meta charset="UTF-8">
<meta name=viewport content="width=device-width, initial-scale=1">
{% if site.noindex == 1 %}<meta name="robots" content="noindex">{% endif %}

<title>{% if page.title %}{{ page.title }} - {{ site.title_suffix }}{% else %}{{ site.title }}{% endif %}</title>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'/>
<link href="{{ site.baseurl }}/css/site.css" rel="stylesheet" type="text/css"/>

<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon"/>
<link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" language="javascript" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" language="javascript" type="text/javascript"></script>
<script language="javascript" type="text/javascript" src="{{ site.baseurl }}/js/modernizr.custom.js"></script>
<script language="javascript" type="text/javascript" src="{{ site.baseurl }}/js/script.js"></script>
<script language="javascript" type="text/javascript" src="{{ site.baseurl }}/js/drill.js"></script>

</head>
