<div class="bui"></div>

<div id="search">
<input type="text" placeholder="Enter search term here">
</div>

<div id="menu" class="mw">
<ul>
  <li class="logo"><a href="{{ site.baseurl }}/"></a></li>
  <li>
    <a href="{{ site.baseurl }}/overview/">Documentation</a>
    <ul>
      <li><a href="{{ site.baseurl }}/overview/">Overview&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
      <li><a href="https://cwiki.apache.org/confluence/display/DRILL/Apache+Drill+in+10+Minutes" target="_blank">Drill in 10 Minutes</a></li>
      <li><a href="{{ site.baseurl }}/why/">Why Drill? &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
      <li><a href="{{ site.baseurl }}/architecture/">Architecture</a></li>
    </ul>
  </li>
  <li>
    <a href="{{ site.baseurl }}/community/">Community</a>
    <ul>
      <li><a href="{{ site.baseurl }}/team/">Team</a></li>
      <li><a href="{{ site.baseurl }}/community/#events">Events and Meetups</a></li>
      <li><a href="{{ site.baseurl }}/community/#mailinglists">Mailing Lists</a></li>
      <li><a href="{{ site.baseurl }}/community/#getinvolved">Get Involved</a></li>
      <li><a href="https://issues.apache.org/jira/browse/DRILL/" target="_blank">Issue Tracker</a></li>
      <li><a href="https://github.com/apache/drill" target="_blank">GitHub</a></li>
    </ul>
  </li>
  <li><a href="{{ site.baseurl }}/faq/">FAQ</a></li>
  <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
  <li style="width:30px; padding-left: 2px; padding-right:10px"><a href="https://twitter.com/apachedrill" target="_blank"><img src="{{ site.baseurl }}/images/twitterbw.png" alt="" align="center" width="22" style="padding: 0px 10px 1px 0px;"></a> </li>
  <li class="l"><span>&nbsp;</span></li>
  <li class="d"><a href="{{ site.baseurl }}/download/">Download</a></li>
</ul>
</div>