---
layout: default
permalink: /
lang: zh
---
<link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" rel="stylesheet" type="text/css"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.4/slick.min.css" rel="stylesheet" type="text/css"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.4/slick-theme.min.css" rel="stylesheet" type="text/css"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js" language="javascript" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.4/slick.min.js" language="javascript" type="text/javascript"></script>

<link href="{{ site.baseurl }}/css/home.css" rel="stylesheet" type="text/css"/>

<script type="text/javascript">

  $(document).ready(function() {
    $(".various").fancybox({
      fitToView: true,
      autoSize: true,
      beforeLoad: function(){
        var url= $(this.element).attr("href");
        url = url.replace(new RegExp("watch\\?v=", "i"), 'v/');
        url += '?fs=1&autoplay=1';
        this.href = url
      }
    });

    $('div#video-slider').slick({
      autoplay: true,
      autoplaySpeed: 5000,
      dots: true
    });
  });

</script>

<div id="header" class="mw">

  <div class="nav-circlepop">
    <a class="aLeft prev"><span class="icon-wrap"></span></a>
    <a class="aRight next"><span class="icon-wrap"></span></a>
  </div>

  <div class="dots"></div>
  <div class="scroller">
    <div class="item">
      <div class="headlines tc">
        <div id="video-slider" class="slider">
          <div class="slide"><a class="various fancybox.iframe" href="https://www.youtube.com/embed/UOmlhExchpk"><img src="{{ site.baseurl }}/images/thumbnail-0rurIzOkTIg.jpg" class="thumbnail" /><img src="{{ site.baseurl }}/images/play-mq.png" class="play" /></a><div class="title">Overview of Apache Drill Query Execution</div></div>
          <div class="slide"><a class="various fancybox.iframe" href="https://www.youtube.com/embed/O6WeniFSa7c"><img src="{{ site.baseurl }}/images/thumbnail-lslA8kDr_jQ.jpg" class="thumbnail" /><img src="{{ site.baseurl }}/images/play-mq.png" class="play" /></a><div class="title">SQL Queries on Parquet Data </div></div>
          <div class="slide"><a class="various fancybox.iframe" href="https://www.youtube.com/embed/EjxCy7RRUgM"><img src="{{ site.baseurl }}/images/thumbnail-65c42i7Xg7Q.jpg" class="thumbnail" /><img src="{{ site.baseurl }}/images/play-mq.png" class="play" /></a><div class="title">The Rise of the Non-Relational Datastore</div></div>
          <div class="slide"><a class="various fancybox.iframe" href="https://www.youtube.com/embed/hv_hf_juEiQ"><img src="{{ site.baseurl }}/images/thumbnail-MYY51kiFPTk.jpg" class="thumbnail" /><img src="{{ site.baseurl }}/images/play-mq.png" class="play" /></a><div class="title">Deployment Options and BI Tools</div></div>
          <div class="slide"><a class="various fancybox.iframe" href="https://www.youtube.com/embed/CGkCvgRwkbs"><img src="{{ site.baseurl }}/images/thumbnail-bhmNbH2yzhM.jpg" class="thumbnail" /><img src="{{ site.baseurl }}/images/play-mq.png" class="play" /></a><div class="title">Connecting to Data Sources</div></div>
          <div class="slide"><a class="various fancybox.iframe" href="https://www.youtube.com/embed/evQwRwXZaVk"><img src="{{ site.baseurl }}/images/thumbnail-6pGeQOXDdD8.jpg" class="thumbnail" /><img src="{{ site.baseurl }}/images/play-mq.png" class="play" /></a><div class="title">High Performance with a JSON Data Model</div></div>
        </div>
        <h1 class="main-headline">Apache Drill</h1>
        <h2 id="sub-headline">Schema-free 类型的SQL引擎，<br class="mobile-break" />专为Hadoop，NoSQL和<br class="mobile-break" />云存储设计</h2>
        <a href="{{ site.baseurl }}/download/" class="download-headline btn btn-1 btn-1c"><span>现在下载</span></a>
      </div>
    </div>
  </div>

</div><!-- header -->
<div class="alertbar">
  <div class="bookRelease">
    <div><i class="fa fa-book fa-lg"></i>
      <a href="http://product.dangdang.com/28546297.html">&nbsp;Apache Drill 学习手册</a>
    </div>
  </div>
  <div class="news">News:
  </div>
  {% assign post = site.categories.blog[0] %}
  <div><a href="{{ post.url | prepend: site.baseurl }}">{% if post.news_title %}{{ post.news_title }}{% else %}{{ post.title }}{% endif %}</a><br/><span>({% include authors.html %})</span></div>
  {% assign post = site.categories.blog[1] %}
  <div><a href="{{ post.url | prepend: site.baseurl }}">{% if post.news_title %}{{ post.news_title }}{% else %}{{ post.title }}{% endif %}</a><br/><span>({% include authors.html %})</span></div>
</div>
<div class="mw introWrapper">
  <table class="intro" cellpadding="0" cellspacing="0" align="center">
    <tbody>
    <tr>
      <td class="ag">
        <h1>敏捷性</h1>
        <p>获得更快的洞察力又省去繁琐的前置处理（Schema创建和维护、数据加载、转换等ETL操作）</p>
      </td>
      <td class="fl">
        <h1>灵活性</h1>
        <p>直接分析NoSQL中的复杂结构和嵌套数据（无需转换和要求数据格式）</p>
      </td>
      <td class="fam">
        <h1>易用性</h1>
        <p>充分利用你已具备的SQL技术栈和BI工具，包括Tableau, Qlikview, MicroStrategy, Spotfire, Excel等等。</a></p>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="home-row">
  <div class="big"><img src="{{ site.baseurl }}/images/home-any.png" style="width:300px" /></div>
  <div class="description">
    <h1>无处不在：几乎可以查询任何类型的NoSQL数据库</h1>
    <p>Drill支持多种类型的NoSQL数据库和文件系统, 包含 Hbase、MongoDB、ElasticSearch、Cassandra、Druid、Kudu、Kafka、OpenTSDB、HDFS、Amazon S3、Azure Blob Storage、Google Cloud Storage、Swift、NAS和本地文件。可以在单次查询中组合多个数据源（联邦查询）。</p>
    <p>Drill的存储感知优化器会利用数据存储的内部处理能力来重构查询计划。Drill还支持数据本地性（Data Locality），所以将Drill和数据节点部署在一起可以充分优化性能。</p>
  </div>
  <div class="small"><img src="{{ site.baseurl }}/images/home-any.png" style="width:300px" /></div>
</div>

<div class="home-row">
  <div class="description">
    <h1>告别繁冗：充分享受数据应用的敏捷性</h1>
    <p>传统的查询引擎需要大量的IT交互才允许查询数据。Drill直接省去了这些冗余，可以快速原地查询这些原始数据。没有Schema创建和维护，也没有数据加载、转换和ETL操作。只需要在查询语句中指定数据的位置，如 Hadoop、S3或MongoDB。</p>
    <p>Drill利用先进的查询编译和重编译，来优化查询性能，而不必对数据模式有预先了解。</p>
  </div>
  <div class="small big"><pre>SELECT * FROM <span class="code-underline">dfs.root.`/web/logs`</span>;

SELECT country, count(*)
  FROM <span class="code-underline">mongodb.web.users</span>
  GROUP BY country;

SELECT timestamp
  FROM <span class="code-underline">s3.root.`clicks.json`</span>
  WHERE user_id = 'jdoe';</pre></div>
</div>

<div class="home-row">
  <div class="big"><img src="{{ site.baseurl }}/images/home-json.png" style="width:300px" /></div>
  <div class="description">
    <h1>化繁为简：将任何数据当表格形式一样使用</h1>
    <p>Drill设计了专有的JSON数据模型，能够支持复杂/嵌套数据的查询，对现代应用程序以及NoSQL中快速衍化的数据结构进行分析。不仅于此，还提供了SQL的扩展性，轻松查询更复杂的数据结构。
    <p>Drill是一款支持复杂数据的列式查询引擎。而且支持在内存中用列式表达复杂数据，所以查询JSON数据模型的速度可以媲美列式格式。</p>
  </div>
  <div class="small"><img src="{{ site.baseurl }}/images/home-json.png" style="width:300px" /></div>
</div>

<div class="home-row">
  <div class="description">
    <h1>简单易用：继续使用你喜欢的BI工具</h1>
    <p>Drill支持标准的 ANSI SQL。商务用户，分析师，数据科学家可以通过Drill的JDBC或者ODBC驱动在标准的BI和分析工具上运行，例如:Tableau, Qlik, MicroStrategy, Spotfire, SAS 和 Excel，开发者也可以在他们的应用中使用 RESTful API（支持流式响应）来定制数据可视化。</p>
    <p>Drill的虚拟数据集可以将复杂的NoSQL数据结构对应到兼容BI的结构，帮助用户挖掘和可视化数据。</p>
  </div>
  <div class="small big"><img src="{{ site.baseurl }}/images/home-bi.png" style="width:300px" /></div>
</div>

<div class="home-row">
  <div class="big"><pre>$ curl -L "&lt;url&gt;" | tar xzf -
$ cd apache-drill-&lt;version&gt;
$ bin/drill-embedded</pre></div>
  <div class="description">
    <h1>水平扩展：从一台主机到一千台服务器</h1>
    <p>Drill开箱即用的特点可以支持在Mac、Windows和Linux上快速完成安装（分钟级）。针对大规模的数据集，也可以部署到商用服务器上，充分利用高性能引擎。</p>
    <p>Drill的对称性架构（所有节点职责相同）和易于安装的特点，方便部署及运行在大规模集群上。</p>
  </div>
  <div class="small"><pre>$ curl &lt;url&gt; -o drill.tgz
  $ tar xzf drill.tgz
  $ cd apache-drill-&lt;version&gt;
  $ bin/drill-embedded</pre></div>
</div>

<div class="home-row">
  <div class="description">
    <h1>快速响应：不再需要等待你的咖啡</h1>
    <p>Drill并不是世界上第一款查询引擎，却是第一个兼顾数据复杂性和查询速度的MPP引擎。Drill设计了与众不同的架构，不仅能够支持JSON数据模型，还做到了非凡的响应速度。<ul>
    <li>列式执行引擎 (第一款支持复杂数据的列式执行引擎)</li>
    <li>支持运行时期的 Data-driven 编译和重编译。</li>
    <li>专有的内存管理技术以减少内存占用和避免频繁垃圾回收</li>
    <li>通过将Drill和数据节点部署在一起来支持数据本地性（Data Locality）</li>
    <li>利用查询优化器的CBO和RBO技术将查询尽可能下推到数据库</li></ul></p>
  </div>
  <div class="small big"><img src="{{ site.baseurl }}/images/home-coffee.jpg" style="width:300px" /></div>
</div>